@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Dancing+Script:wght@400;500;600;700&family=EB+Garamond:ital,wght@1,400;1,500&family=Lora:ital@0;1&family=Monomaniac+One&family=Playfair+Display:ital@1&display=swap');

.container{
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    align-items: center;   
    padding: 2rem;
}

.title{
    font-family: 'Lora', serif;
}